# --- Python (Сміття) ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environment (Твоя папка з бібліотеками) ---
# Ми не заливаємо бібліотеки, бо є requirements.txt
.venv/
venv/
env/

# --- Environment Variables (СЕКРЕТИ) ---
# Це найважливіший рядок! Ніколи не заливай паролі.
.env
.env.prod
.env.test

# --- IDE (Налаштування PyCharm та VS Code) ---
# Це твої особисті налаштування редактора, іншим вони не треба
.idea/
.vscode/

# --- Database ---
# Якщо раптом створиш локальну базу SQLite, щоб вона не полетіла в репо
*.sqlite3
*.db

# --- Logs ---
*.log

# --- Testing & Type checking ---
.pytest_cache/
.mypy_cache/
htmlcov/

# --- System Files (Mac/Windows сміття) ---
.DS_Store
Thumbs.db